matrix:
  include:
    - language: node_js
      node_js: "node"
      install: "npm install"
      before_script: "npm run compile"
      script: "npm test"

    - language: python
      python: "3.5"
      script: "python build.py"

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN # Set in travis-ci.org dashboard
  on:
    branch: master

notifications:
  email:
    - stevenbird1@gmail.com
